# Dependencies
node_modules/

# Build output
backend/dist/
backend/build/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
coverage/
.nyc_output/

# Environment files
.env
.env.*.local

# OS and temporary files
.DS_Store
.temp/
.tmp/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
